*{
    margin: 0px;
	padding: 0px;
	transition: 0.7s;
}

html {
  scroll-behavior: smooth; /* 添加 smooth 属性以实现平滑滚动效果 */
}

body{
	background-color: #fff;
}

a{
	text-decoration: none;
	color: rgba(230, 230, 230, 1);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #4B5563;
    border-radius: 25px;
}

::-webkit-scrollbar-track, body.dark::-webkit-scrollbar-thumb {
    background-color: #eee;
}



/* 导航栏 */
.nav{
	position: fixed;
	top: 30px;
	width: 95%;
	left: 50%;
	transform: translateX(-50%);
	height: 65px;
	background-color:rgba(51, 51, 51, 0);
	border-radius: 15px;
	transition: all 0.7s;
	z-index: 999;
}
/* 鼠标悬停 */
.nav:hover{
	background-color:rgba(51, 51, 51, 1);
	transition: all 1s;
}

/* 首页背景大图 */
.centerbg{
	width: 100%;
	height: 100vh;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	z-index: -1;
}

.nav-box{
	height: 60px;
	float: right;
}

/* 头像样式 */
.avatar {
	height: 40px;
	width: 40px;
	background-image: url("../img/avatar1.jpg");
	background-size: 100%;
	margin: 12.5px 27.5px 12.5px 12.5px;
	border-radius: 50%;
	float: right;
	cursor: pointer;
	transition: transform 0.7s;
}

.avatar:hover {
	transform: rotate(360deg);
}

.nav-son {
	float: left;
	line-height: 50px;
	padding-top: 7.5px;
	text-shadow: 2px 2px 5px #333;
	margin: 0 15px;
	position: relative;
}

/* 字体颜色变化 */
.nav-son:hover .nav-anchor{
	color: rgb(0, 125, 255);
	transition:all 0.5s;
}

/* 创建底部边框 */
.nav-son::before {
	content: "";
	position: absolute;
	bottom: -3px; /* 将伪元素定位到导航栏项的底部 */
	left: 0;
	width: 100%;
	height: 4px; /* 边框高度 */
	border-radius: 15px;
	background-color: rgb(0, 125, 255);
	transform: scaleX(0); /* 初始状态下将宽度缩放为0，隐藏边框 */
	transform-origin: left center; /* 设置变换原点为左侧中心 */
	transition: transform 0.3s; /* 设置过渡属性和过渡时间 */
}

/* 鼠标悬停时显示底部边框 */
.nav-son:hover::before {
	transform: scaleX(1); /* 将宽度缩放为1，显示边框 */
}

.bottom{
	width: 820px;
	margin: 0 auto;
}

.title{
	margin-top: 100px;
	width: 820px;
	height: 350px;
}

h1{
	line-height: 125px;
	text-align: center;
	font-weight: 400;
	color: rgba(51,51,51,1);

}



/* 文章信息 */
.post-meta{
	text-align: center;
	font-size: 12px;
	color: #888;
	cursor: default;
}

.comments-number{
	margin: 0px 5px;
}

.post-meta span{
	transition: 0.5s;
	cursor: default;
}

.post-meta span:hover{
	color: #ffe066;
	transition: 0.5s;
}

.inscription{
	margin: 50px 0;
	width: 820px;
	height: 100px;
	border-left:5px solid rgb(223, 226, 229);
}

.inscription p{
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	color: rgb(106, 115, 125);
	text-decoration: line-through;
}

.main{
	margin-bottom: 50px;
}

.main p{
	color: rgb(153, 153, 153);
	font-size: 20px;
	text-indent: 2em;
	margin: 5px 0;
}

.comments{
	font-size: 20px;
	color: #CCCCCC;
	border-bottom: 3px solid rgba(0, 125, 255, 1);
	width: 9.5em;
	margin-bottom: 50px;
}

.comment{
	width: 770px;
	height: 100px;
	padding: 25px;
	background: rgb(26 26 26 / 60%);
	border-radius: 15px;
	margin-bottom: 100px;
	border: 1.5px solid #7d7d7d30;
	box-shadow: 0 1px 20px 2px rgba(26, 26, 26, 0.8);
	transition: 0.6s;
}

.comment:hover{
	transition: 0.8s;
	box-shadow: 0 1px 5px 2px rgb(152,150,240);
}

.personal{
	width: 770px;
	height: 40px;
}

.avatar-small{
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 20px;
	border-radius: 50%;
	background-image: url("../img/avatar1.jpg");
	background-size: 100%;
}

.name{
	color: rgb(153, 153, 153);
}

.time{
	font-size: 14px;
	color: rgb(153, 153, 153);
}

.comment-text{
	margin-top: 20px;
	font-size: 16px;
	color: rgb(204, 204, 204);
}

.main p img{
	width: 820px;
	height: auto;
}

.main-pic{
	text-indent: 0em !important;
}

@media only screen and (max-width: 820px) {
	.bottom,.title,.inscription{
		width: 450px;
	}
	
	img{
		width: 450px !important;
	}
	
	.comment{
		width: 400px;
	}

}